#Rewrite everything to httpsRewriteEngine OnRewriteCond %{HTTPS} !=onRewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]RewriteEngine OnRewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]RewriteRule ^product/([0-9]+)/([0-9]+)/([0-9]+)$ product.php?country_id=$1&city_id=$2&shop_id=$3 [L]# rewrite css, js and images, from rootRewriteRule ^product/[^/]+/[^/]+/(.+)$ $1  [L]RewriteEngine OnRewriteCond %{REQUEST_FILENAME}\.php -fRewriteRule (.*)$ $1.php    [L,E=END:1,NS]